@use 'src/variables';

.hero {
  min-height: 100vh;
  z-index: 1;
  h1 {
    margin-top: 90px;
    @media (min-width: variables.$min-width-sm) {
      font-size: 100px;
      margin-top: -100px;
    }
  }
}
